about-time==4.2.1
alive-progress==3.1.5
autograd==1.6.2
cloudpickle==3.0.0
cma==3.2.2
contourpy==1.2.1
cycler==0.12.1
Deprecated==1.2.14
dill==0.3.8
fonttools==4.53.0
future==1.0.0
grapheme==0.6.0
kiwisolver==1.4.5
matplotlib==3.9.0
numpy==1.26.4
packaging==24.1
pillow==10.4.0
pygmo==2.19.5
pymoo==0.6.1.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.14.0
six==1.16.0
wrapt==1.16.0
